version: '3.8'

services:
  jenkins:
    build: .
    container_name: jenkins-selenium
    restart: unless-stopped
    ports:
      - "8080:8080"   # UI Jenkins
      - "50000:50000" # Conexão com agentes
    volumes:
      - jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    environment:
      - JAVA_OPTS=-Djenkins.install.runSetupWizard=false
    networks:
      - jenkins_net

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    restart: unless-stopped
    ports:
      - "9090:9090"
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus     # persistência do histórico
    networks:
      - jenkins_net

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    restart: unless-stopped
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana   # persistência dos dashboards
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin
    networks:
      - jenkins_net

volumes:
  jenkins_home:
  prometheus_data:
  grafana_data:

networks:
  jenkins_net:
    driver: bridge