<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="5">
    <parameter name="environment" value="qa"/> <!-- qa ou prod -->
    <parameter name="browser" value="chrome"/> <!-- chrome ou firefox -->
    <parameter name="headless" value="false"/>  <!-- true ou false -->
    <test name="Harvest of Quality">
        <classes>
            <class name="runner.Runner"/>
        </classes>
    </test>
</suite>
